body{
    background-image:url("background.png") ;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.container{
    /* border: 1px solid red; */
    text-align: center;
    
}

@media screen and (max-width:750px) {
    .container{
        background-image: url("background.png");
        background-size: cover;
        min-height: 700px;
        
        
    }

    
}



